@CHARSET "UTF-8";

.login {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 383px;
}

.log1 {
	position: absolute;
	top: 30%;
	left: 46%;
	transform: translate(-50%, -50%);
}

.log2 {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.log3 {
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.log4 {
	position: absolute;
	top: 65%;
	left: 57%;
	transform: translate(-50%, -50%);
}

.log5 {
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.head1 {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 80px;
}

.head2 {
	position: absolute;
	top: 40%;
	transform: translate(-50%, -50%);
	float: left;
	left: 15%;
}

.head3 {
	position: absolute;
	top: 25%;
	transform: translate(-50%, -50%);
	height: 20px;
	float: left;
	left: 35%;
}

.head4 {
	position: absolute;
	top: 25%;
	transform: translate(-50%, -50%);
	height: 20px;
	float: left;
	left: 50%;
}

.head5 {
	position: absolute;
	top: 25%;
	transform: translate(-50%, -50%);
	height: 20px;
	float: left;
	left: 65%;
}

.head7 {
	position: absolute;
	top: 35%;
	transform: translate(-50%, -50%);
	height: 20px;
	float: left;
	left: 80%;
}

.head8 {
	position: absolute;
	top: 32%;
	transform: translate(-50%, -50%);
	height: 20px;
	float: left;
	left: 85%;
}

.head9 {
	position: absolute;
	top: 32%;
	transform: translate(-50%, -50%);
	height: 20px;
	float: left;
	left: 85%;
}

.shead {
	position: absolute;
	top: 20%;
	transform: translate(-50%, -50%);
	width: 100px;
	height: 20px;
	float: left;
	left: 25%;
}

.btnhead {
	position: absolute;
	top: 20%;
	transform: translate(-50%, -50%);
	width: 100px;
	height: 20px;
	float: left;
	left: 45%;
}
.cons1 {
	position: absolute;
	top: 250px;
	left: 50%;
	transform: translate(-50%, 0);
	width: 900px;
}

.cons2 {
	position: absolute;
	top: 150px;
	left: 60%;
	transform: translate(-50%, 0);
	width: 900px;
}

.cons3 {
	position: absolute;
	top: 10%;
	left: 50%;
}

.mess1 {
	position: absolute;
	top: 250px;;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 900px;
	background-color: #FFFFFF;
}

.mess2 {
	position: absolute;
	top: 500px;;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 900px;
	background-color: #FFFFFF;
}
.mess3 {
	position: absolute;
	top: 250px;;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 900px;
	background-color: #FFFFFF;
}

.for1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 700px;
	height: 400px;
}

.friend1 {
	position: absolute;
	top: 20%;
	left: 10%;
	background-color: #ffffff;
}

.friend2 {
	position: absolute;
	top: 20%;
	left: 40%;
}

.friend3 {
	position: absolute;
	top: 20%;
	left: 80%;
	background-color: #ffffff;
}
.reg1 {
	position: absolute;
	top: 10%;
	left: 30%;
	background-color: #ffffff;
}
.reg2 {
	position: absolute;
	left: 50%;
}
.newcon {
	position: absolute;
	top: 10%;
	left:47%;
}

.file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}