<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.cons.dao.Con">

	<resultMap type="com.yonyou.cons.entity.Contract" id="Contract">
		<id column="conId" property="conId" jdbcType="VARCHAR" />
		<result column="conname" property="conname" jdbcType="VARCHAR" />
		<result column="company" property="company" jdbcType="VARCHAR" />
		<result column="startDate" property="startDate" jdbcType="VARCHAR" />
		<result column="endDate" property="endDate" jdbcType="VARCHAR" />
		<result column="picture" property="picture" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="VARCHAR" />
		<result column="userId" property="userId" jdbcType="VARCHAR" />
		<result column="uId" property="uId" jdbcType="VARCHAR" />


		<result column="invqty" property="invqty" jdbcType="INTEGER" />
	</resultMap>
	<!-- 添加新合同 
	<insert>
		INSERT INTO contract
		(conid,conname,company,starttime,endtime,picture,state,userid,uid)
		VALUES(#{conid},#{conname},#{company},#{starttime},#{endtime},#{picture},#{state},#{userid},#{uid})
	</insert>-->

	<!-- 根据相关id查找合同
	<select id="">
		SELECT
		conid,conname,company,starttime,endtime,picture,state,userid,uid
		FROM
		contract
		<where>
			<if test="uid != null and uid != ''">
				and uid=#{uid};
			</if>
			<if test="userid != null and userid !=''">
				and userid=#{userid};
			</if>
		</where>
	</select> -->

	<!-- 根据关键字查询合同
	<select id="">
		SELECT conid,conname,company,starttime,endtime,picture,state,userid,uid
		FROM contract
		WHERE conname LIKE '%1%'
	</select>
 -->
</mapper>