<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.cons.dao.UserDao">

	<resultMap type="com.yonyou.cons.entity.User" id="User">
		<result column="userid" property="userid" jdbcType="VARCHAR" />
		<result column="role" property="role" jdbcType="VARCHAR" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="company" property="company" jdbcType="VARCHAR" />
		<result column="picture" property="picture" jdbcType="VARCHAR" />
		<result column="date" property="date" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="getuser">
		userid,
		username,
		email,
		sex,
		role,
		date,
		password,
		picture,
		company
	</sql>

	<!-- 增加新用户 -->
	<insert id="addUser" parameterType="com.yonyou.cons.entity.User">
		insert into user
		(userid,role,username,email,sex,password,company,picture,date)
		values(#{userid},#{role},#{username},#{email},#{sex},#{password},#{company},#{picture},#{date})
	</insert>

	<!-- 更新用户信息 -->
	<update id="updateUserById" parameterType="com.yonyou.cons.entity.User">
		UPDATE USER
		<set>
			<if test="username != null and username != ''">username=#{username}</if>
		</set>
		WHERE userid=#{userid}
	</update>

	<!-- 根据用户id查找好友用户 -->
	<select id="findUserById" parameterType="com.yonyou.cons.entity.User"
		resultMap="User">
		select
		<include refid="getuser" />
		from user
		where userid=#{userid}
	</select>

	<!-- 根据员工号查找用户 <select id=""> select id,role,username,email,sex,password,company,picture,date 
		from user <where> <if test="username !=null and username !=''"> and username=#{username}; 
		</if> <if test="userid != null and userid != ''"> and userid=#{userid}; </if> 
		</where> </select> -->
		
	<!-- 根据员工号查找用户 -->
	<select id="getUserByMail" parameterType="String" resultMap="User">
	select
		<include refid="getuser" />
		from user
		where email=#{mail}
	</select>
	
	
</mapper>